:root {
  --background: #000000;
  --foreground: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f2f2;
    --foreground: #000000;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px; /* Altura fija */
  padding: 10px; /* Espaciado interno */
  background-color: #f4f4f4; /* Fondo claro */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
  position: sticky; /* Ajustar si necesitas sticky más adelante */
}

