

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:fit-content;
  gap : 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  height: 80px;
  width: 100%;
  background-color: var(--secondary);
  color: var(--foreground);
}


