

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background: linear-gradient(to bottom, var(--background) 70%, var(--secondary) 100%);
}

.info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:fit-content;
  gap : 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  height: 80px;
  width: 100%;
  color: var(--foreground);
  margin-bottom: 150px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--foreground);
  text-decoration: none;
  background-color: var(--secondary);
  width: 100px;
  height: 50px;
  border-radius: 20px;
}


.loader_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px); /* Desenfoque */
  border-radius: 10px;
}

.ingresoVendedores {
  display: flex;
  align-items: center;
  background-color: var(--button);
  color: var(--background);
  height: 50px;
  padding: 30 10;
  border-radius: 50px;
  width: 80%;
  max-width: 400px;
  cursor: pointer;
}

.ingresoVendedores span {
  font-size: 20px;
  margin: 0 auto;          /* Empuja hacia el centro */
  padding-right: 10px;
}