
.place_img  img {
    border-radius: 25%;
}


.header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    color: black;
    background-color: var(--catalog);
}

.place_name {
    font-size: 20px;
    font-weight: 800;
}

.place_address {
    font-size: 15px;
    color: rgb(69, 69, 69);
}

.catalog {
    background-color: var(--catalog);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
    padding: 15px;
    height: fit-content ;
}

.product {
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    background-color: var(--product);
    width: 100%;
    max-width: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra básica */
    padding-top: 20px;
    cursor: pointer;
}

.product_image{
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product_info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items:start;
    justify-content: space-between;
    width: 100%;
}

.product_name {
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.product_price {
    background-color: white;
    font-size: 25px;
    color: black;
}