.place_img  img {
    border-radius: 25%;
}


.header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    color: black;
    background-color: var(--background);
}

.place_name {
    font-size: 20px;
    font-weight: 800;
    color: var(--foreground);
}

.place_address {
    font-size: 15px;
    color: var(--foreground-light);
}

.no_products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    color: var(--background);
    border-radius: 50px;
    background-color: var(--foreground);
}

.catalog {
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: 1000px;
    gap: 5px;
    height: fit-content;
    justify-items: center;
    padding: 10px;
    height: 100%;
}



.place_categories_desktop {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    gap: 5px;
    padding: 0 20px;
}

.place_categories_desktop span{
    font-size: 20px;
    color: var(--foreground);
    padding: 10px;
    border-radius: 30px;
    background-color: var(--catalog);
    cursor: pointer;
}

.catalog_category_desktop {
    width: 95%;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 30px;
    text-align: start;
    margin-right: 50px;
}

.catalog_category_desktop.selected {
    background-color: var(--foreground);
    color: var(--background);
    cursor: pointer;
    border-radius: 30px;
    font-size: 21px;
    padding: 0 10px;
    text-align: start;
    transition: .2s;
}


.place_categories_mobile {
    display: none;
}


.product {
    height: 400px;
    padding-top: 20px;
    width: 100%;
    max-width: 250px;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: var(--product);
    border-radius: 20px;
    cursor: pointer;
}

.product_skeleton {
    height: 400px;
    width: 250px;
    background-color: var(--product-skeleton);
    border-radius: 20px;
    cursor: pointer;
}
@media (max-width: 700px) {
    .place_categories_desktop {
        display: none;
    }

    .place_categories_mobile {
        display: flex;
        height: fit-content;
        position: relative;
    }

    .product {
        height: 300px;
        width: 100%;
    }

    .catalog {
        background-color: var(--catalog);
        background: linear-gradient(to bottom, var(--catalog) 70%, var(--secondary) 95%);
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 5px;
        height: 100%;
        min-height: 400px;
        padding: 10px;
    }

    .selected_category {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        gap : 10px;    
    }
    
    .categories_list {
        position: absolute;
        top: 0; /* Justo debajo del botón */
        left: 50%; /* Mueve el punto de referencia al centro del botón */
        transform: translateX(-50%); /* Centra horizontalmente */
        z-index: 1000;
        background-color: var(--catalog);
        padding: 10px 0;
        width: 100vw;
        height: fit-content;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-radius:20px
    }

    .categories_list div {
        display: flex;
        width: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .place_categories_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 30px;
        height: fit-content;
        padding: 10px;
        background-color: var(--catalog);
        color: var(--foreground);
        cursor: pointer;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    
    .catalog_category {
        font-size: 20px;
    }
.product_skeleton {
    height: 300px;
    }

}

.catalog.catalog_no_products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }





.product_image_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.product_image{
    width: 90%;
    max-width: 200px;
    max-height: max-content;
    border-radius: 20px;
}

.product_info {
    align-self: self-end;
    padding: 15px;
    width: 100%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.product_name {
    color: rgb(0, 0, 0);
    font-size: 15px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.product_price {
    background-color: white;
    font-size: 25px;
    color: black;
}

.product_cat {
    font-size: 10px;
    color: var(--category);
    text-align: center;
}



.skeleton {
    background: linear-gradient(90deg, #686868 25%, #646464 50%, #686868 75%);
    background-color: var(--foreground-dark);
    background-size: 200% 100%;
    animation: loading 1.5s infinite linear;
  }
  
  @keyframes loading {
    from {
      background-position: 200% 0;
    }
    to {
      background-position: -200% 0;
    }
  }
  

.loader_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px); /* Desenfoque */
  border-radius: 10px;
}

.product_stock_agotado {
    background-color: var(--agotado);
    color: white;
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
    top: 10px;
    right: 10px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--foreground);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    color: var(--background);
    bottom: 0px;
    left: 0px;
}

.popup_content img {
    width: 90%;
    max-width: 200px;
    max-height: max-content;
    border-radius: 20px;
}

.popup_button {
    background-color: var(--background);
    color: var(--foreground);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.popup_product_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.popup_product_name {
    font-size: 20px;
    font-weight: 800;
    color: var(--background);
}

.popup_product_price {
    font-size: 25px;
    color: var(--background);
}

.popup_product_cat {
    font-size: 15px;
    color: var(--category);
}

.popup_product_description {
    font-size: 15px;
    color: var(--background);
}