.page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 0;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.src_img_product {
    width: 200px;
    height: 200px;
}

.name_product {
    font-size: 30px;
    color: var(--foreground);
}

.description_product {
    font-size: 20px;
    color: var(--input-color);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    width: 90%;
}

.input {
    width: 100%;
    height: 30px;
    background-color: aliceblue;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.subtitle {
    font-size: 30px;
    padding: 15px 0;
}

.price_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    width: 90%;
    color: black;
}

.price_product > div {
    font-size: 30px;
}
