.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 0;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgs_product_place {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.src_img_product, .src_img_place {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.name_product {
    font-size: 30px;
    color: var(--foreground);
}

.description_product {
    font-size: 20px;
    color: var(--input-color);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    width: 90%;
}

.input {
    width: 100%;
    height: 30px;
    background-color: aliceblue;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.subtitle {
    font-size: 30px;
    padding: 15px 0;
}

.price_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    width: 90%;
    color: black;
}

.price_product > div {
    font-size: 30px;
}

.block {
    margin: 20px 0;
    background-color: var(--foreground-light);
    max-width: 400px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 30px;
}

.block_title {
    font-size: 30px;
    color: var(--secondary);
}

.block_description {
    font-size: 12px;
    color: var(--secondary);
}

.block_input {
        width: 95%;
        padding: 20px;
        outline: none;
        height: 60px;
        background-color: var(--secondary);
        font-size: 20px;
        color: var(--input-color);
        border-radius: 50px;
        border:none;
}

.block_button {
    font-size: 20px;
    width: 100%;
    height: 60px;
    background-color: var(--button);
    color: var(--background);
    border-radius: 50px;
    border: none;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    
}

.block_button_comp {
    font-size: 20px;
    width: 100%;
    height: 60px;
    background-color:  var(--category);
    color: var(--background);
    border-radius: 50px;
    border: none;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    
}

.block_item {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    height: 20px;
    margin: 5px;

}

.block_item_name {
    font-size: 15px;
    color: var(--secondary);
}

.block_item_value {
    font-size: 18px;
    color: var(--secondary);
}

.block_total {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    margin: 5px;
}

.block_total_name {
    font-size: 25px;
    color: var(--secondary);
}

.block_total_value {
    font-size: 20px;
    color: var(--secondary);
}

.block_data_block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
}