
.suggestion {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
  }
  
  .suggestion:active {
    background-color: rgb(186, 186, 186);
    transition: .2s;
  }
  
  .suggestion_img {
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .suggestion_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  
  .suggestion_address {
    font-size: 12px;
    color: gray;
  }
  
  .suggestion_name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .suggestions {
    margin-top: 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    width: 95%;
    max-width: 350px;
  }
  
  
  