.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    width: 90%;
}

.input {
    width: 100%;
    padding: 20px;
    outline: none;
    height: 60px;
    background-color: var(--secondary);
    font-size: 20px;
    color: var(--input-color);
    border-radius: 50px;
    border:none;

}

.subtitle {
    font-size: 20px;
    padding: 15px 0;
}



.button:hover {
    transition: .2s;
    background-color: blue;
    color: white;
}

.button:active {
    transition: .2s;
    background-color: blue;
    color: white;
}

.price_product {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 30px;
}