.place{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh  ;
  height: 100%;
}

.catalog_page {
  max-width: 1200px;
  width: fit-content  ;
  display: grid;
  grid-template-columns: 15% 85%;
  flex:1;
}
@media (max-width: 700px) {
  .catalog_page {
    width: 100%;
    min-width: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex:1;
  }
}